.column-5 {
  background-color: #d4d0d0;
}
.column-5 img {
  width: 230px;
  height: 200px;
  object-fit: cover;
}
.displayer {
  display: flex;
  flex-direction: column;
}
.displayer img {
  width: 450px;
  height: 400px;
  object-fit: cover;
}
.like {
  display: flex;
  width: 100%;
  align-items: flex-end;
}
.like p {
  padding-right: 55%;
}
h5 {
  font-weight: bold;
}
h4 {
  font-weight: bold;
}
.padding-mobile {
  padding: 3%;
}
