
.column-5{
    background-color: rgb(212, 208, 208);
    // width:100h;
    img{
    
        width: 230px;
       height: 200px;
       object-fit: cover;
   }
}
.displayer{
    display:flex;
    flex-direction: column;
    img{
    
        width: 450px;
       height: 400px;
       object-fit: cover;
   }
}
.like{
    display: flex;
    width: 100%;
    p{
        padding-right: 55%;
    }
    // justify-content: flex-end;
    align-items: flex-end;
   
}

h5{
    font-weight: bold;
    
}

h4{
    font-weight: bold;
}
.padding-mobile{
    padding: 3%;
}

.select{
  display: flex;
  align-items: center;
  form{
      padding-left: 55%;
      select{
        border:2px solid rgba(0,0,0,0.2);
        border-radius: 12px;
        padding-left: 1%;
        color: gray;
        width: 140px;
        option{
            border:2px solid rgba(0,0,0,0.2);
            border-radius: 12px;
        }
    }
  }
}

.xplore-act-img:hover {
    cursor: pointer;
}