.row-c:after {
  content: "";
  display: table;
  clear: both;
}
.column-2 {
  width: 50%;
  float: left;
}
.box-info {
  width: 800px;
  height: 50vh;
  padding: 2%;
  margin-top: 5%;
  margin-left: 3%;
  background-color: #b5b5b5;
  border: solid 2px black;
}
.nombre {
  text-align: center;
  border-bottom: solid 2px black;
  margin-bottom: 3%;
}
.info {
  color: black;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: black;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-left: 3%;
  width: auto;
  height: 60vh;
}
.image img {
  width: 60%;
  height: 90%;
}
