.displayer {
  display: flex;
  flex-direction: column;
}
.displayer img {
  width: 350px;
  height: 300px;
  object-fit: cover;
}
.column-3 {
  width: 33.33%;
  float: left;
}
.row {
  float: left;
}
